<!-- cookie-consent.html -->
<div id="cookie-notice" class="text-center" style="display: none;">
    <div>
        <span>
            🍪  Używamy plików cookie i podobnych technologii. Możesz określić warunki przechowywania lub dostępu do plików cookies w ustawieniach Twojej przeglądarki.
            <a class="cookie-notice-policy" tabindex=0 target="_blank" href="/pl/zasady/polityka-prywatnosci.html" title="Polityka prywatności">Polityka prywatności</a>
        </span>
        <button id="cookie-notice-accept" tabindex=0>OK</button>
    </div>
</div>
<!-- /cookie-consent.html -->
