<!-- footer.html -->
{%- assign locale = page.locale | default: site.locale -%}
{%- assign locale_page = '/' | append: locale | append: '/' -%}
<footer class="footer page-footer border-top border-gray-light">
    <span class="site-footer-copyright text-center">
        Copyright &copy; {{ site.copyright.sinceYear }}&mdash;<span id="current-year">{{ site.time | date: '%Y' }}</span>
        <a href="{{ locale_page | absolute_url }}" title="{{ site.name | default: site.title }}">{{ site.name | default: site.title }}</a>.
    </span>
    
    {% include navigation.html menu='footer' display_menu_name=false list_class='list-inline' %}

    {% if site.github.private != true and site.github.license %}
      <div class="text-right text-gray">
        This site is open source. <a href="{% github_edit_link %}" rel="nofollow noindex">Improve this page</a>.
      </div>
  {% endif %}
  <br><br>
</footer>
<!-- /footer.html -->
