<!-- header.html -->
{%- assign heading = 'h2' -%}
{%- assign locale = page.locale | default: site.locale -%}
{%- assign locale_page = '/' | append: locale | append: '/' -%}
{% if page.url == '/' or page.url == locale_page -%}
    {% assign heading = 'h1' %}
{% endif %}    
{% if site.title and site.title != page.title %}
    <{{ heading }} class="no-anchorjs"><a href="{{ locale_page | absolute_url }}" title="{{ site.title }}">{{ site.title }}</a></{{ heading }}>
{% endif %}
<!-- /header.html -->
