<!-- head.html -->
<meta charset="{{ site.encoding|default:'UTF-8' }}">
<meta http-equiv="Content-Type" content="text/html; charset={{ site.encoding|default:'UTF-8' }}">
<meta name="Cache-Control" content="public, max-age=900, s-maxage=1800, stale-while-revalidate, proxy-revalidate, must-revalidate">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Last-Modified" content="{{ page.last_modified_at | default: site.time | date:'%a, %d %b %Y %H:%m:%S GMT%z' }}">
<meta name="HandheldFriendly" content="true">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="{{ page.robots | default: 'index,follow' }}">
{% seo %}
<link rel="preconnect" href="https://cdn.polyfill.io" crossorigin />
<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin />
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin />
<link rel="preconnect" href="https://stats.g.doubleclick.net" crossorigin />
<link rel="preconnect" href="https://browser-update.org" crossorigin />
{% asset 'style.scss' %}
{% asset 'main.css' %}
<link rel="manifest" href="/manifest.json">
{% comment %}<!-- <link rel="shortcut icon" href="/favicon.ico"> -->{% endcomment %}
<link rel="robots" type="text/plain" href="{{ '/robots.txt' | relative_url }}"/>
<link rel="sitemap" type="application/xml" href="/sitemap.xml"/>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }} feed" href="/feed.xml"/>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  var pageLoadStart = Date.now(), pageLoadTime = null, pageLoadEnd = null, visitStart = pageLoadStart, visitTime = null, visitorType = 'standard', visitEnd = null;
</script>
{% include stats-analytics.html %}
<!-- /head.html -->
