name: Build

on:
  workflow_dispatch:

env:
  JEKYLL_ENV: "development"
  RUBY_VERSION: 2.7.5

jobs:
  build_with_ruby:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: false
      
      - run: bundle update
      - run: bundle lock --add-platform x86_64-linux
      - run: bundle install
      
      - run: bundle exec jekyll build
      # - run: bundle exec jekyll serve

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Automated Change
          file_pattern: 'Gemfile.lock'
      
  build_with_jekyll:
    runs-on: ubuntu-latest
    if: ${{ success() }}
    steps:
      - name: Build Jekyll
        uses: actions/jekyll-build-pages@v1.0.7
        with:
          token: $JEKYLL_GITHUB_TOKEN
          verbose: true
        env:
          JEKYLL_ENV: "development"
