name: jekyll-build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  JEKYLL_ENV: "production"
  JEKYLL_DESTINATION: "./_site"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          cache-version: 0
      - run: bundle lock --add-platform x86_64-linux
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v1
      - run: bundle install
      - name: build jekyll
        run: JEKYLL_ENV=$JEKYLL_ENV bundle exec jekyll build --baseurl ${{ steps.pages.outputs.base_path }} --destination $JEKYLL_DESTINATION
        env: 
          JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OCTOKIT_ACCESS_TOKEN: $JEKYLL_GITHUB_TOKEN
      - name: Upload GitHub Pages artifact
        if: ${{ success() }}
        uses: actions/upload-pages-artifact@v1.0.3
        with:
          path: $JEKYLL_DESTINATION

  deploy:
    needs: build
    if: ${{ success() }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
