name: pages-build-deployment

on:
  schedule:
    - cron: '01 00 1 1 *'
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  JEKYLL_ENV: "production"
  JEKYLL_DESTINATION: "./_site/"
  RUBY_VERSION: 2.7.5

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3

      - name: Node.js setup
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: 'yarn'

      - name: Yarn install
        run: yarn install --frozen-lockfile
        # if: ${{ steps.yarn-cache.outputs.cache-hit != 'true' }}

      - name: Ruby cache
        uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: Ruby setup
        uses: ruby/setup-ruby@v1
        if: ${{ github.actor != 'nektos/act' }}
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - name: Ruby setup
        uses: ruby/setup-ruby@v1
        if: ${{ github.actor == 'nektos/act' }}
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: false

      - if: ${{ github.actor == 'nektos/act' }}
        run: bundle install

      - name: jekyll build development
        run: bundle exec rake
        env: 
          JEKYLL_ENV: development

      - run: rm -rf ${{ env.JEKYLL_DESTINATION }} .jekyll-cache

      - name: jekyll build production
        run: bundle exec rake
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OCTOKIT_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Production artifacts archive
        run: zip -r site.zip ${{ env.JEKYLL_DESTINATION }}

      - name: Artifacts production upload ${{ env.JEKYLL_DESTINATION }}
        uses: actions/upload-artifact@v3
        with:
          name: dir-site-${{ github.sha }}
          path: ${{ env.JEKYLL_DESTINATION }}
          retention-days: 1

      - name: Artifacts production upload site.zip
        uses: actions/upload-artifact@v3
        with:
          name: file-site-${{ github.sha }}
          path: ./site.zip
          retention-days: 1

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Version get latest tag
        uses: actions/github-script@v5
        id: latesttag
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            async function getLatestTag() {
              const tags = await github.paginate(
                github.rest.repos.listTags,
                {
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  per_page: 100
                }, (response) => response.data
              );
              const tagsMaped = tags.map(e => e.name);
              const tagsSorted = tagsMaped.sort().reverse();

              return tagsSorted[0];
            }

            const LASTEST_TAG = await getLatestTag();
            if (typeof LASTEST_TAG === "undefined" || !LASTEST_TAG) {
              const LASTEST_TAG = "0.0.1";
              console.log("No tag found. Using default version " + LASTEST_TAG);
            }

            console.log(`LASTEST_TAG=${LASTEST_TAG}`);
            core.setOutput("LASTEST_TAG", LASTEST_TAG);

      - name: Node.js setup
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'

      - name: semver install
        run: npm install semver

      - name: Version increment
        uses: actions/github-script@v5
        id: versionincrement
        with:
          script: |
            const semver = require('semver');
            const VERSION = semver.inc(process.env.LASTEST_TAG, 'patch');
            console.log(`VERSION=${VERSION}`);
            core.setOutput("VERSION", VERSION);

            const VERSION_TIME = new Date().toISOString();
            console.log(`VERSION_TIME=${VERSION_TIME}`);
            core.setOutput("VERSION_TIME", VERSION_TIME);
        env:
          LASTEST_TAG: ${{ steps.latesttag.outputs.LASTEST_TAG }}

      - name: env vars setup
        run: |
            echo "LASTEST_TAG=$LASTEST_TAG" >> $GITHUB_ENV
            echo "VERSION=$VERSION" >> $GITHUB_ENV
            echo "VERSION_TIME=$VERSION_TIME" >> $GITHUB_ENV
        shell: bash
        env:
          LASTEST_TAG: ${{ steps.latesttag.outputs.LASTEST_TAG }}
          VERSION: ${{ steps.versionincrement.outputs.VERSION }}
          VERSION_TIME: ${{ steps.versionincrement.outputs.VERSION_TIME }}

      - name: Release create
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.VERSION }}
          release_name: Release ${{ env.VERSION }} at ${{ env.VERSION_TIME }}
          draft: false
          prerelease: true

      - name: Artifacts production download site.zip
        uses: actions/download-artifact@v3
        with:
          name: file-site-${{ github.sha }}
          path: ./

      - name: Release asset upload
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./site.zip
          asset_name: site.zip
          asset_content_type: application/zip

  deploy:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Artifacts production download ${{ env.JEKYLL_DESTINATION }}
        uses: actions/download-artifact@v3
        with:
          name: dir-site-${{ github.sha }}
          path: ${{ env.JEKYLL_DESTINATION }}

      - name: GitHub Pages setup
        uses: actions/configure-pages@v2
        id: pages
        if: ${{ github.actor != 'nektos/act' }}
        continue-on-error: true

      - name: GitHub Pages upload artifact
        uses: actions/upload-pages-artifact@v1.0.4
        if: ${{ success() && github.actor != 'nektos/act' }}
        continue-on-error: true
        with:
          path: ${{ env.JEKYLL_DESTINATION }}

      - name: Cloudflare Pages publish
        uses: cloudflare/pages-action@v1
        if: ${{ success() && github.actor != 'nektos/act' }}
        with:
          apiToken: ${{ secrets.CLOUDFLARE_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: zuralski-net
          directory: ${{ env.JEKYLL_DESTINATION }}
