name: pages-build-and-deployment

on:
  push:
    branches: ["main"]

env:
  JEKYLL_ENV: "production"
  JEKYLL_DESTINATION: "./_site"

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false
      - run: bundle install
      - run: JEKYLL_ENV=$JEKYLL_ENV bundle exec jekyll build --destination $JEKYLL_DESTINATION

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Upload GitHub Pages artifact
        if: ${{ success() }}
        uses: actions/upload-pages-artifact@v1.0.3
        with:
          path: $JEKYLL_DESTINATION

      - name: Deploy to GitHub Pages
        if: ${{ success() }}
        id: deployment
        uses: actions/deploy-pages@v1
