name: pages-build-deployment

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  JEKYLL_ENV: "production"
  JEKYLL_DESTINATION: "./_site"
  SITEMAP_URL: "https://zuralski.net/sitemap.xml"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          cache-version: 0
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v1
      - name: build jekyll
        run: bundle exec jekyll build --trace --destination $JEKYLL_DESTINATION
        env: 
          JEKYLL_ENV: $JEKYLL_ENV
          JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OCTOKIT_ACCESS_TOKEN: $JEKYLL_GITHUB_TOKEN
      - name: Upload GitHub Pages artifact
        if: ${{ success() }}
        uses: actions/upload-pages-artifact@v1.0.3
        with:
          path: $JEKYLL_DESTINATION

  deploy:
    needs: build
    if: ${{ success() }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1

  validate_deployment:
    if: ${{ success() }}
    runs-on: ubuntu-latest
    steps:
      - name: Check status
        run: curl --fail $SITEMAP_URL
  
  purge_cache_cloudflare:
    runs-on: ubuntu-latest
    needs: validate_deployment
    if: ${{ success() }}
    steps:
      - name: Cloudflare Purge Cache
        uses: jakejarvis/cloudflare-purge-action@master
        env:
          CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}

  sitemaps_ping:
    runs-on: ubuntu-latest
    needs: validate_deployment
    if: ${{ success() }}
    steps:
      - name: Ping Bing
        run: |
          curl https://www.bing.com/ping?sitemap=$SITEMAP_URL
      - name: Ping Google
        run: |
          curl https://www.google.com/webmasters/tools/ping?sitemap=$SITEMAP_URL